page-login {

}
#login-input1{
    padding-bottom: 10%;
}
#login-form1{
    margin-top: 50%;
    margin-left: 3%;
    margin-right: 3%;
}
#buttonnn {
    background-color: #FFB20D; 
    width: 100%;
    color: black;
    font-weight: 400;
    font-size: 15px;
}